.app-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  padding: .75rem 2rem;
  border-radius: .125rem;

  font-size: 1.25rem;

  text-transform: uppercase;

  &.clickable {
    cursor: pointer;
  }

  &.secondary {
    background-color: transparent;
    border: 1px solid #000;

    span {
      font-weight: 700;
    }
  }

  &.primary {
    background-color: #f00;
    color: #fff;

    span {
      font-weight: 500;
    }
  }
}